<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="VinderEntities"
        connectionString="Server=tcp:vinder.database.windows.net,1433;Database=VINder;User ID=VinderAmin@vinder;Password=sMdYM34eF4WMDQk;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>